Source: xf86-video-pvrsgx
Section: x11
Priority: optional
Maintainer: Arthur Demchenkov <spinal.by@gmail.com>
Build-Depends:
 debhelper (>= 10),
 pkg-config,
 xserver-xorg-dev (>= 2:1.11.99.901),
 xutils-dev (>= 1:7.5+1),
 ti-omap3-sgx-dev (>=1.4.268.4),
Standards-Version: 4.3.0

Package: xserver-xorg-video-pvrsgx
Architecture: armel armhf
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${xviddriver:Depends},
Provides:
 ${xviddriver:Provides}
Description: X.Org X server -- PowerVR SGX display driver
 This package provides the driver for TI's OMAP3 SoCs with
 a PowerVR SGX graphics core.
