#!/usr/bin/make -f

DEB_CFLAGS_MAINT_APPEND += -Wall -ggdb -g

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
        DEB_CPPFLAGS_MAINT_APPEND += -DDEBUG
endif

export DEB_CPPFLAGS_MAINT_APPEND DEB_CFLAGS_MAINT_APPEND

override_dh_auto_configure:
	dh_auto_configure -- --libdir=/usr/lib

# Don't install *.la files
override_dh_install:
	find debian/*/ -name '*.la' -delete
	dh_install

# That's a plugin, use appropriate warning level:
override_dh_shlibdeps:
	dh_shlibdeps -- --warnings=6

%:
	dh $@ --with xsf
